.root {

    -fx-default-dashboard-background-color: rgb( 38, 92, 132);
    
    -fx-default-dashboard-text-color: rgb( 245, 245, 245);
    -fx-default-dashboard-text-shadow: dropshadow(one-pass-box, rgba( 0, 0, 0, 0.0), 0, 0 , 0, 0); /// Does not like null to be used between css files
    -fx-default-dashboard-border-shadow: rgba(245, 245, 245,0.3);

    -fx-default-dashboard-item-active: rgb( 245, 245, 245);
    -fx-default-dashboard-item-active-text: -fx-default-dashboard-background-color;
    -fx-default-dashboard-item-inactive: rgba( 245, 245, 245, 0.1);
    -fx-default-dashboard-item-highlight: rgba( 245, 245, 245, 0.3);

    -fx-default-tile-background-color: rgba( 245, 245, 245, 0.1);

    -fx-border-shade-position-2: rgba(245, 245, 245,0.0);
    -fx-border-shade-position-3: rgba(245, 245, 245,0.0);
    -fx-border-shade-position-4: rgba(245, 245, 245,0.0);
    
}